* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  /* border: solid orange; */
  width: 385px;
  height: 844px;
  background-color: #110f0f;
  display: flex;
  justify-content: center;
}
.App {
  /* border: solid blue; */
  width: 385px;
}

/* image cards */
.imageWrapper {
  /* border: solid hotpink; */
  /* margin-top: 100px; */
  width: 390px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
}
.nasaImages {
  border: .5px solid #110f0f;
}

.imageSize {
  width: 127px;
  height: 120px;
  object-fit: cover;
}

#headerWrapper {
  border: solid red;
  height: 210px;
}

#footerWrapper {
  display: flex;
  border: solid white;
  height: 70px;
  justify-content: space-evenly;
}
.nasanav{
  border: solid lightblue;
  height: 25px;
  display: flex;
}
.socials{
  border: solid purple;
  height: 60px;
}
.bio{
  border: solid blue;
  height: 25px;
}
.link{
  border: solid lime;
  height: 15px;
}
.followers{
  border: solid orange;
  height: 25px;
}
.left{
  height: 100%;
  width: 33%;
}
#left{
  height: 100%;
}
.name{
  border: solid pink;
  color: white;
  font-weight: bold;
  text-align: center;
}
.check{
  height: 100%;
}
#check{
  height: 100%;
}
.dots{
  border: solid yellow;
}
.instaicon{
  width: 20%;
  margin: 10px;
}
#instaicon{
  height: 100%;
}
.nasaicon{
  width: 20%;
  margin: 10px;
}
#nasaicon{
  height: 100%;
}
.xicon{
  width: 20%;
  margin: 10px;
}
#xicon{
  height: 100%;
}
.yticon{
  width: 20%;
  margin: 10px;
}
#yticon{
  height: 100%;
  width: 100%;
}
.giticon{
  margin: 10px;
  width: 20%;
}
#giticon{
  height: 100%;
}